body {
  font-size: 13px !important;
  font-family: #FFD478 !important;
  color: white !important;
  background-color: #231F20 !important; }

h1 {
  font-family: "DM Serif Display", serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 38px !important;
  margin-bottom: 1rem !important; }

h2 {
  font-family: "DM Serif Display", serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 22px !important; }

.subtitle {
  color: white;
  opacity: 68%; }

p {
  font-weight: 400 !important; }

.button-primary {
  margin-top: 1rem;
  padding: 0 !important;
  color: #FFD478 !important; }

.button-icon {
  margin-left: 3px;
  transform: translateY(-2px); }

.container__text {
  margin-bottom: 5rem;
  margin-top: 10rem; }

#container__drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  perspective: 1000px; }
  #container__drinks #card__container {
    background-color: transparent; }
  #container__drinks .drinks__card__front {
    width: 250px;
    height: 370px;
    padding: 30px;
    border: 1px solid #231F20;
    border-radius: 25px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
    margin-bottom: 4rem;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
    #container__drinks .drinks__card__front .drinks__image {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 10%; }
    #container__drinks .drinks__card__front .drinks__btn {
      opacity: 68%; }
      #container__drinks .drinks__card__front .drinks__btn:hover {
        cursor: pointer; }
  #container__drinks #card__container:hover .drinks__card__front {
    transform: rotateY(180deg); }
  #container__drinks .drinks__card__back {
    width: 250px;
    height: 370px;
    padding: 30px;
    border: 1px solid #231F20;
    border-radius: 25px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
    margin-bottom: 4rem; }
    #container__drinks .drinks__card__back .container__line {
      height: 1px;
      width: 2rem;
      background: white;
      opacity: 68%;
      margin: 1rem 0; }
    #container__drinks .drinks__card__back .drinks__type {
      margin-bottom: 2rem; }
    #container__drinks .drinks__card__back .drinks__ingredients {
      margin-bottom: 3rem; }
    #container__drinks .drinks__card__back .drinks__btn {
      opacity: 68%; }
      #container__drinks .drinks__card__back .drinks__btn:hover {
        cursor: pointer; }
  #container__drinks .drinks__name {
    font-family: "DM Serif Display", serif;
    margin-bottom: 0;
    font-size: 15px; }
  #container__drinks .drinks__creator {
    margin-bottom: 0;
    opacity: 68%; }

.container__title {
  height: 100vh;
  transform: translateY(25%);
  margin-bottom: 10rem; }
  .container__title .subtitle {
    margin-bottom: 0.5rem; }
  .container__title p {
    width: 75%;
    margin-bottom: 2rem; }

.navigation {
  padding: 3rem; }
  .navigation .logo {
    font-family: "DM Serif Display", serif;
    font-size: 16px;
    font-weight: 800;
    display: inline-block; }
  .navigation .menu {
    float: right; }
    .navigation .menu:hover {
      cursor: pointer; }
    .navigation .menu__icon {
      margin-right: 10px; }
    .navigation .menu__text {
      float: right; }

.drinks {
  height: 100vh;
  padding: 3rem; }

.container__title {
  height: 100vh;
  transform: translateY(25%);
  margin-bottom: 10rem; }
  .container__title .subtitle {
    margin-bottom: 0.5rem; }
  .container__title p {
    width: 75%;
    margin-bottom: 2rem; }
