body {
  font-size: 13px !important;
  font-family: #FFD478 !important;
  color: white !important;
  background-color: #231F20 !important; }

h1 {
  font-family: "DM Serif Display", serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 38px !important;
  margin-bottom: 1rem !important; }

h2 {
  font-family: "DM Serif Display", serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 22px !important; }

.subtitle {
  color: white;
  opacity: 68%; }

p {
  font-weight: 400 !important; }

.button-primary {
  margin-top: 1rem;
  padding: 0 !important;
  color: #FFD478 !important; }

.button-icon {
  margin-left: 3px;
  transform: translateY(-2px); }

.container__text {
  margin-bottom: 5rem;
  margin-top: 10rem; }

#container__drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #container__drinks .is-flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  #container__drinks .card__card .drinks__card {
    width: 260px;
    height: auto;
    padding: 30px;
    border: 1px solid #231F20;
    border-radius: 25px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
    margin-bottom: 4rem; }
    #container__drinks .card__card .drinks__card .drinks__name {
      font-family: "DM Serif Display", serif !important;
      margin-bottom: 0;
      font-size: 15px; }
    #container__drinks .card__card .drinks__card .drinks__creator {
      opacity: 68%; }
    #container__drinks .card__card .drinks__card .drinks__image {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 15%; }
    #container__drinks .card__card .drinks__card .drinks__line {
      height: 1px;
      width: 25px;
      background-color: white;
      margin-bottom: 0.5rem; }
    #container__drinks .card__card .drinks__card .drinks__ingredients {
      margin-bottom: 0.5rem; }
    #container__drinks .card__card .drinks__card .drinks__list {
      opacity: 68%; }

.container__title {
  height: 100vh;
  transform: translateY(25%);
  margin-bottom: 10rem; }
  .container__title .subtitle {
    margin-bottom: 0.5rem; }
  .container__title p {
    width: 75%;
    margin-bottom: 2rem; }

.navigation {
  padding: 3rem; }
  .navigation .logo {
    font-family: "DM Serif Display", serif;
    font-size: 16px;
    font-weight: 800;
    display: inline-block; }
  .navigation .menu {
    float: right; }
    .navigation .menu:hover {
      cursor: pointer; }
    .navigation .menu__icon {
      margin-right: 10px; }
    .navigation .menu__text {
      float: right; }

.drinks {
  height: 100vh;
  padding: 3rem; }

.inputs {
  height: 100vh;
  padding: 20rem 0 3rem 0; }
  .inputs .container .inputs__title {
    margin-bottom: 0.5rem; }
  .inputs .container .inputs__subtitle {
    margin-bottom: 5rem; }
  .inputs .container .inputs__container {
    display: flex;
    flex-direction: row;
    padding: 0; }
  .inputs .container .inputs__input {
    height: auto;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid #231F20;
    border-radius: 15px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
    margin-bottom: 4rem;
    transition: all .25s; }
    .inputs .container .inputs__input:hover {
      cursor: pointer;
      box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.9);
      transform: translateY(-2px); }
    .inputs .container .inputs__input:active {
      border: 1px solid #FFD478;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.9);
      transform: translateY(4px); }
  .inputs .container .inputs__spirit {
    top: 50%;
    transform: translateY(40%); }

.container__title {
  height: 100vh;
  transform: translateY(25%);
  margin-bottom: 10rem; }
  .container__title .subtitle {
    margin-bottom: 0.5rem; }
  .container__title p {
    width: 75%;
    margin-bottom: 2rem; }
