.container__title {
    height: 100vh;
    transform: translateY(25%);
    margin-bottom: 10rem;
    .subtitle {
        margin-bottom: 0.5rem;
    }

    p {
        width: 75%;
        margin-bottom: 2rem;
    }
}