.navigation {
    padding: 3rem;

    .logo {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 800;
        display: inline-block;
    }

    .menu {
        float: right;

        &:hover {
            cursor: pointer;
        }

        &__icon {
            margin-right: 10px;
        }

        &__text {
            float: right;
        }
    }
}