.container__text {
    margin-bottom: 5rem;
    margin-top: 10rem;
}

#container__drinks {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .is-flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }


    .card__card {

        .drinks__card {

            width: 260px;
            height: auto;
            padding: 30px;
            border: 1px solid $color-primary;
            border-radius: 25px;
            box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
            margin-right: 4rem;
            margin-bottom: 4rem;

            .drinks {
                &__name {
                    font-family: $font-primary !important;
                    margin-bottom: 0;
                    font-size: 15px;
                }
                &__creator {
                    opacity: 68%;
                }
                &__image {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    margin-left: 15%;
                }
                &__line {
                    height: 1px;
                    width: 25px;
                    background-color: white;
                    margin-bottom: 0.5rem;
                }
                &__ingredients {
                    margin-bottom: 0.5rem;
                }
                &__list {
                    opacity: 68%;
                }
            }
        }
    }
}