h1 {
    font-family: $font-primary !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    font-size: 38px !important;
    margin-bottom: 1rem !important;
}

p {
    font-weight: 400 !important;
}